- content_for(:title) { "Gaslight: Office Hours" }

#main.content.with-photo
  %section.header--about
    .row
      .large-12.columns.large-centered
        %h1.title--light 
          Weekly Office Hours:
          %br
          Ask Us Anything
    .row
      .large-12.columns.large-centered
        %h3.subheading--light
          Have questions about design or development? Find answers at our free office hours.
        .underline--blue.underline--heading
  %section
    .row
      .large-7.columns.large-centered
        .flex-video
          %iframe{ id: "ytplayer", type: "text/html", src: "//www.youtube.com/embed/LyinNgpqwls", frameborder: "0", allowfullscreen: "allowfullscreen"}
  %section
    .row
      .large-5.columns.center
        %h2.subheading Who are office hours for?
        %p  Just about anyone. Business owners wondering how software development and design can help their businesses grow. Developers hacking on big projects. Managers who want an inside look at our development culture. 
      .large-2.columns.hide-for-small
        .icon.icon--type.icon--type--open-house
          %span 1
          %span :
          %span 1
      .large-5.columns.center
        %h2.subheading How’s it work?
        %p Make an appointment below then stop by our offices. We’ll spend an hour talking through your ideas and questions or help you troubleshoot a project you’re in the middle of right now. It’s free—no strings attached.

  %section.section--contrast
    %h2.heading Every Friday from 9-11AM
    %p.center Request a meeting with this form. We will email you to confirm your time.

    =render partial: 'form'