- content_for(:title) { "Gaslight: About Us" }
= render partial: 'application/nav'

#main.landing-page
  %section.landing__about
    .row
      .large-12.columns.large-centered
        %h1.title--light We’re Better Together
    .row
      .large-8.columns.large-centered
        %h3.subheader Our secret weapon? Collaboration.
        .underline--blue


  %section
    .row
      .large-8.columns.large-centered
        %h2.subheader It’s Not About the Code
        %p Sure, we love to geek out over technology and design. But it’s all for a bigger purpose: Boosting your business. We build apps that radically improve productivity, profits, client relationships and more. 
    .row
      .large-8.columns.large-centered
        %h2.subheader It Is About the People
        %p Achieving measurable business results means building deep partnerships. We assign a dedicated team to each project. And keep in touch just about every day during design and development. We’ll even invite you into our office to work side-by-side. 

  %section.section--contrast
    .row.large-centered
      %h2.header.underline--blue Latest Ideas 

  %section.row.team
    %a.anchor{name:"team"}
    %h2.header.underline--blue The Team
    %ul.photos
      %li
        .photo
          %img{src: image_path("team/doug.jpg"), alt: "Doug Alcorn" }
          .overlay
            .links
              %h3.subheader Doug Alcorn
              %h4 Developer
              %a.icon-twitter{target: "_blank", href: "http://twitter.com/dougalcorn", rel: "Team Social"}
              %a.icon-github{target: "_blank", href: "http://github.com/dougalcorn", rel: "Team Social"}
      %li
        .photo
          %img{src: image_path("team/ryan.jpg"), alt: "Ryan Arthur" }
          .overlay
            .links
              %h3.subheader Ryan Arthur
              %h4 Designer
              %a.icon-github{target: "_blank", href: "http://github.com/arthurra"}
      %li
        .photo
          %img{src: image_path("team/bill.jpg"), alt: "Bill Barnett" }
          .overlay
            .links
              %h3.subheader Bill Barnett
              %h4 Developer
              %a.icon-twitter{target: "_blank", href: "http://twitter.com/agilous", rel: "Team Social"}
              %a.icon-github{target: "_blank", href: "http://github.com/agilous", rel: "Team Social"}
      %li
        .photo
          %img{src: image_path("team/tammy.jpg"), alt: "Tammy Gambrel" }
          .overlay
            .links
              %h3.subheader Tammy Gambrel
              %h4 Designer
              %a.icon-twitter{target: "_blank", href: "http://twitter.com/SilversunTammy", rel: "Team Social"}
              %a.icon-github{target: "_blank", href: "https://github.com/tammygambrel", rel: "Team Social"}
      %li
        .photo
          %img{src: image_path("team/dewayne.jpg"), alt: "Dewayne Greenwood" }
          .overlay
            .links
              %h3.subheader Dewayne Greenwood
              %h4 ??
              %a.icon-twitter{target: "_blank", href: "http://twitter.com/xero6", rel: "Team Social"}
      %li
        .photo
          %img{src: image_path("team/michael.jpg"), alt: "Michael Guterl" }
          .overlay
            .links
              %h3.subheader Michael Guterl
              %h4 Developer
              %a.icon-twitter{target: "_blank", href: "http://twitter.com/mguterl", rel: "Team Social"}
              %a.icon-github{target: "_blank", href: "http://github.com/mguterl", rel: "Team Social"}
      %li
        .photo
          %img{src: image_path("team/peter.jpg"), alt: "Peter Kananen" }
          .overlay
            .links
              %h3.subheader Peter Kananen
              %h4 Project Guide
              %a.icon-twitter{target: "_blank", href: "http://twitter.com/pkananen", rel: "Team Social"}
              %a.icon-github{target: "_blank", href: "http://github.com/pkananen", rel: "Team Social"}
      %li
        .photo
          %img{src: image_path("team/kristin.jpg"), alt: "Kristin Lasita" }
          .overlay
            .links
              %h3.subheader Kristin Lasita
              %h4 Designer
              %a.icon-twitter{target: "_blank", href: "http://twitter.com/kclasita", rel: "Team Social"}
              %a.icon-github{target: "_blank", href: "http://github.com/kclasita", rel: "Team Social"}
      %li
        .photo
          %img{src: image_path("team/mitch.jpg"), alt: "Mitch Lloyd" }
          .overlay
            .links
              %h3.subheader Mitch Lloyd
              %h4 Developer
              %a.icon-twitter{target: "_blank", href: "http://twitter.com/too_mitch", rel: "Team Social"}
              %a.icon-github{target: "_blank", href: "http://github.com/mitchlloyd", rel: "Team Social"}
      %li
        .photo
          %img{src: image_path("team/chris_m.jpg"), alt: "Chris Moore" }
          .overlay
            .links
              %h3.subheader Chris Moore
              %h4 Managing Partner
              %a.icon-twitter{target: "_blank", href: "http://twitter.com/cdmwebs", rel: "Team Social"}
              %a.icon-github{target: "_blank", href: "http://github.com/cdmwebs", rel: "Team Social"}
      %li
        .photo
          %img{src: image_path("team/chris_n.jpg"), alt: "Chris Nelson" }
          .overlay
            .links
              %h3.subheader Chris Nelson
              %h4 Developer
              %a.icon-twitter{target: "_blank", href: "http://twitter.com/superchris", rel: "Team Social"}
              %a.icon-github{target: "_blank", href: "http://github.com/superchris", rel: "Team Social"}
      %li
        .photo
          %img{src: image_path("team/kevin.jpg"), alt: "Kevin Rockwood" }
          .overlay
            .links
              %h3.subheader Kevin Rockwood
              %h4 Developer
              %a.icon-twitter{target: "_blank", href: "http://twitter.com/kevinrockwood", rel: "Team Social"}
              %a.icon-github{target: "_blank", href: "http://github.com/rockwood", rel: "Team Social"}
      %li
        .photo
          %img{src: image_path("team/james.jpg"), alt: "James Smith" }
          .overlay
            .links
              %h3.subheader James Smith
              %h4 Developer
              %a.icon-twitter{target: "_blank", href: "http://twitter.com/st23am", rel: "Team Social"}
              %a.icon-github{target: "_blank", href: "http://github.com/st23am", rel: "Team Social"}
      %li
        .photo
          %img{src: image_path("team/joel.jpg"), alt: "Joel Turnbull" }
          .overlay
            .links
              %h3.subheader Joel Turnbull
              %h4 Developer
              %a.icon-twitter{target: "_blank", href: "http://twitter.com/joelturnbull", rel: "Team Social"}
              %a.icon-github{target: "_blank", href: "http://github.com/joelturnbull", rel: "Team Social"}

= render partial: 'application/footer'