- content_for(:title) { "Gaslight: About Us" }

#main.content
  %section.header--about
    .row
      .large-12.columns.large-centered
        %h1.title--light We’re Better Together
    .row
      .large-12.columns.large-centered
        %h3.subheader--light
          Our secret weapon? Collaboration.
        .underline--yellow.underline--header


  %section
    .row
      .large-5.columns.center
        %h2.subheader It’s Not About the Code
        %p Sure, we love to geek out over technology and design. But it’s all for a bigger purpose: Boosting your business. We build apps that radically improve productivity, profits, client relationships and more.
      .large-2.columns.hide-for-small
        .about--happy
          =image_tag "icons/about-happy.svg", :class => "icon"
      .large-5.columns.center
        %h2.subheader It Is About the People
        %p Achieving measurable business results means building deep partnerships. We assign a dedicated team to each project. And keep in touch just about every day during design and development. We’ll even invite you into our office to work side-by-side.

  %section.section--contrast
    .row
      %h2.header Latest Ideas
      .underline--yellow
    .row
      .large-8.columns.large-centered
        .row
          - @featured_posts.each do |post|
            .large-6.columns
              .latest-post
                .latest-post__avatar.avatar.avatar--small.avatar--brand2
                  %img{src: gravatar_url(post.author_email, '51x51'), alt: "User Photo" }
                %p.latest-post__title= post.title
                %p.latest-post__meta
                  %span.meta__author= post.author_name
                  \-
                  %span.meta__date= post.published_at.strftime("%B %e, %Y")
                %p.latest-post__description= truncate(post.generated_description, length: 130, omission: '...')

                %a.button--full-width.button--brand2{href: post_path(post)} Read Full Post

  %section.row.team.hide-for-small
    %a.anchor{name:"team"}
    %ul.photos
      %li
        .photo
          %img{src: image_path("team/doug.jpg"), alt: "Doug Alcorn" }
          .overlay
            .links
              %h3.subheader--light Doug Alcorn
              %p.subtitle Co-founder, Developer
              %a.icon--twitter{target: "_blank", href: "http://twitter.com/dougalcorn", rel: "Team Social"}
                =image_tag "icons/twitter-07.svg", :class => "icon--team"
              %a.icon--github{target: "_blank", href: "http://github.com/dougalcorn", rel: "Team Social"}
                =image_tag "icons/github-05.svg", :class => "icon--team" 
              %a.icon--mail{href: "mailto:doug@gaslight.co", rel: "Team Social"}
                =image_tag "icons/about-mail-01.svg", :class => "icon--team"
      %li
        .photo
          %img{src: image_path("team/ryan.jpg"), alt: "Ryan Arthur" }
          .overlay
            .links
              %h3.subheader--light Ryan Arthur
              %p.subtitle Designer
              %a.icon--github{target: "_blank", href: "http://github.com/arthurra", rel: "Team Social"}
                =image_tag "icons/github-05.svg", :class => "icon--team" 
              %a.icon--mail{href: "mailto:ryan@gaslight.co", rel: "Team Social"}
                =image_tag "icons/about-mail-01.svg", :class => "icon--team"
      %li
        .photo
          %img{src: image_path("team/bill.jpg"), alt: "Bill Barnett" }
          .overlay
            .links
              %h3.subheader--light Bill Barnett
              %p.subtitle Co-founder, Developer
              %a.icon--twitter{target: "_blank", href: "http://twitter.com/agilous", rel: "Team Social"}
                =image_tag "icons/twitter-07.svg", :class => "icon--team"
              %a.icon--github{target: "_blank", href: "http://github.com/agilous", rel: "Team Social"}
                =image_tag "icons/github-05.svg", :class => "icon--team" 
              %a.icon--mail{href: "mailto:bill@gaslight.co", rel: "Team Social"}
                =image_tag "icons/about-mail-01.svg", :class => "icon--team"  
      %li
        .photo
          %img{src: image_path("team/tammy.jpg"), alt: "Tammy Gambrel" }
          .overlay
            .links
              %h3.subheader--light Tammy Gambrel
              %p.subtitle Designer
              %a.icon--twitter{target: "_blank", href: "http://twitter.com/SilversunTammy", rel: "Team Social"}
                =image_tag "icons/twitter-07.svg", :class => "icon--team"
              %a.icon--github{target: "_blank", href: "http://github.com/tammygambrel", rel: "Team Social"}
                =image_tag "icons/github-05.svg", :class => "icon--team"
              %a.icon--mail{href: "mailto:tammy@gaslight.co", rel: "Team Social"}
                =image_tag "icons/about-mail-01.svg", :class => "icon--team"
      %li
        .photo
          %img{src: image_path("team/dewayne.jpg"), alt: "Dewayne Greenwood" }
          .overlay
            .links
              %h3.subheader--light Dewayne Greenwood
              %p.subtitle Co-founder, COO
              %a.icon--twitter{target: "_blank", href: "http://twitter.com/xero6", rel: "Team Social"}
                =image_tag "icons/twitter-07.svg", :class => "icon--team"
              %a.icon--mail{href: "mailto:dewayne@gaslight.co", rel: "Team Social"}
                =image_tag "icons/about-mail-01.svg", :class => "icon--team"
      %li
        .photo
          %img{src: image_path("team/michael.jpg"), alt: "Michael Guterl" }
          .overlay
            .links
              %h3.subheader--light Michael Guterl
              %p.subtitle Developer
              %a.icon--twitter{target: "_blank", href: "http://twitter.com/mguterl", rel: "Team Social"}
                =image_tag "icons/twitter-07.svg", :class => "icon--team"
              %a.icon--github{target: "_blank", href: "http://github.com/mguterl", rel: "Team Social"}
                =image_tag "icons/github-05.svg", :class => "icon--team"
              %a.icon--mail{href: "mailto:michael@gaslight.co", rel: "Team Social"}
                =image_tag "icons/about-mail-01.svg", :class => "icon--team"
      %li
        .photo
          %img{src: image_path("team/peter.jpg"), alt: "Peter Kananen" }
          .overlay
            .links
              %h3.subheader--light Peter Kananen
              %p.subtitle Partner, Project Manager
              %a.icon--twitter{target: "_blank", href: "http://twitter.com/pkananen", rel: "Team Social"}
                =image_tag "icons/twitter-07.svg", :class => "icon--team"
              %a.icon--github{target: "_blank", href: "http://github.com/pkananen", rel: "Team Social"}
                =image_tag "icons/github-05.svg", :class => "icon--team"
              %a.icon--mail{href: "mailto:peter@gaslight.co", rel: "Team Social"}
                =image_tag "icons/about-mail-01.svg", :class => "icon--team"
      %li
        .photo
          %img{src: image_path("team/kristin.jpg"), alt: "Kristin Lasita" }
          .overlay
            .links
              %h3.subheader--light Kristin Lasita
              %p.subtitle Designer
              %a.icon--twitter{target: "_blank", href: "http://twitter.com/kclasita", rel: "Team Social"}
                =image_tag "icons/twitter-07.svg", :class => "icon--team"
              %a.icon--github{target: "_blank", href: "http://github.com/kclasita", rel: "Team Social"}
                =image_tag "icons/github-05.svg", :class => "icon--team"
              %a.icon--mail{href: "mailto:kristin@gaslight.co", rel: "Team Social"}
                =image_tag "icons/about-mail-01.svg", :class => "icon--team"
      %li
        .photo
          %img{src: image_path("team/mitch.jpg"), alt: "Mitch Lloyd" }
          .overlay
            .links
              %h3.subheader--light Mitch Lloyd
              %p.subtitle Developer
              %a.icon--twitter{target: "_blank", href: "http://twitter.com/too_mitch", rel: "Team Social"}
                =image_tag "icons/twitter-07.svg", :class => "icon--team"
              %a.icon--github{target: "_blank", href: "http://github.com/mitchlloyd", rel: "Team Social"}
                =image_tag "icons/github-05.svg", :class => "icon--team"
              %a.icon--mail{href: "mailto:mitch@gaslight.co", rel: "Team Social"}
                =image_tag "icons/about-mail-01.svg", :class => "icon--team"
      %li
        .photo
          %img{src: image_path("team/chris_m.jpg"), alt: "Chris Moore" }
          .overlay
            .links
              %h3.subheader--light Chris Moore
              %p.subtitle Partner, CEO
              %a.icon--twitter{target: "_blank", href: "http://twitter.com/cdmwebs", rel: "Team Social"}
                =image_tag "icons/twitter-07.svg", :class => "icon--team"
              %a.icon--github{target: "_blank", href: "http://github.com/cdmwebs", rel: "Team Social"}
                =image_tag "icons/github-05.svg", :class => "icon--team"
              %a.icon--mail{href: "mailto:chrism@gaslight.co", rel: "Team Social"}
                =image_tag "icons/about-mail-01.svg", :class => "icon--team"
      %li
        .photo
          %img{src: image_path("team/chris_n.jpg"), alt: "Chris Nelson" }
          .overlay
            .links
              %h3.subheader--light Chris Nelson
              %p.subtitle Co-founder, Developer
              %a.icon--twitter{target: "_blank", href: "http://twitter.com/superchris", rel: "Team Social"}
                =image_tag "icons/twitter-07.svg", :class => "icon--team"
              %a.icon--github{target: "_blank", href: "http://github.com/superchris", rel: "Team Social"}
                =image_tag "icons/github-05.svg", :class => "icon--team"
              %a.icon--mail{href: "mailto:chris@gaslight.co", rel: "Team Social"}
                =image_tag "icons/about-mail-01.svg", :class => "icon--team"
      %li
        .photo
          %img{src: image_path("team/kevin.jpg"), alt: "Kevin Rockwood" }
          .overlay
            .links
              %h3.subheader--light Kevin Rockwood
              %p.subtitle Developer
              %a.icon--twitter{target: "_blank", href: "http://twitter.com/kevinrockwood", rel: "Team Social"}
                =image_tag "icons/twitter-07.svg", :class => "icon--team"
              %a.icon--github{target: "_blank", href: "http://github.com/rockwood", rel: "Team Social"}
                =image_tag "icons/github-05.svg", :class => "icon--team"
              %a.icon--mail{href: "mailto:kevin@gaslight.co", rel: "Team Social"}
                =image_tag "icons/about-mail-01.svg", :class => "icon--team"
      %li
        .photo
          %img{src: image_path("team/james.jpg"), alt: "James Smith" }
          .overlay
            .links
              %h3.subheader--light James Smith
              %p.subtitle Developer
              %a.icon--twitter{target: "_blank", href: "http://twitter.com/st23am", rel: "Team Social"}
                =image_tag "icons/twitter-07.svg", :class => "icon--team"
              %a.icon--github{target: "_blank", href: "http://github.com/st23am", rel: "Team Social"}
                =image_tag "icons/github-05.svg", :class => "icon--team"
              %a.icon--mail{href: "mailto:james@gaslight.co", rel: "Team Social"}
                =image_tag "icons/about-mail-01.svg", :class => "icon--team"
      %li
        .photo
          %img{src: image_path("team/joel.jpg"), alt: "Joel Turnbull" }
          .overlay
            .links
              %h3.subheader--light Joel Turnbull
              %p.subtitle Developer
              %a.icon--twitter{target: "_blank", href: "http://twitter.com/joelturnbull", rel: "Team Social"}
                =image_tag "icons/twitter-07.svg", :class => "icon--team"
              %a.icon--github{target: "_blank", href: "http://github.com/joelturnbull", rel: "Team Social"}
                =image_tag "icons/github-05.svg", :class => "icon--team"
              %a.icon--mail{href: "mailto:joel@gaslight.co", rel: "Team Social"}
                =image_tag "icons/about-mail-01.svg", :class => "icon--team"
