- content_for :javascript do
  :javascript
    new Gaslight.Views.SvgView({el: "#guides"}).render()

= render partial: 'application/nav'

#guides
  %section.landingpage
    .row
      .large-12.columns.large-centered
        %h1.title We build apps that build businesses.
    .row
      .large-6.columns.large-centered
        %p.lead
          Gaslight is a design and development shop based around three driving principles.
    .row
      .large-8.column.centered.lbs.hide-for-small
        .row
          .large-4.columns
            %a.button--large.brand1{href: page_path('about')} Learn
            %p
              Think of us as early, early adopters. We find and explore new tech first. Then put the <a class="brand1--link" href="about" rel="About Us">best tools and practices</a> to work for you. 
          
          .large-4.columns
            %a.button--large.brand2{href: page_path('case-studies/ipc')} Build
            %p
              We wield our coding, design and UX chops to create custom software or super-charge existing software. See our <a class="brand2--link" href="case-studies/ipc" rel="Case Study">latest work.</a>
          .large-4.columns
            %a.button--large.brand3{href: page_path('blog')} Share
            %p
              We’re open source all the way. Sharing everything we learn through our <a class="brand3--link" href="blog" rel="Blog">blog</a>, podcast and training classes
    .row
      .large-8.column.large-centered.lbs.show-for-small
        .row
          .large-4.columns
            %a.button--large.brand1{href: page_path('about')} Learn
           
          .large-4.columns
            %a.button--large.brand2{href: page_path('case-studies/ipc')} Build
            
          .large-4.columns
            %a.button--large.brand3{href: page_path('blog')} Share
           
#main.landing-page
  %section.landing__about
    .row
      %h2.header--light.underline--blue We Are
    .row
      .large-8.columns.large-centered
        %p.lead
          We are a group of designers, developers and project guides passionate about revving up your business. We love to create technology tools that solve hard problems. And make your company faster and more profitable. 
    .row
      .large-3.columns.large-centered
        %a.button--large.brand1{href: '/about'} Learn How We Work

  %section
    .row
      %h2.header.underline--red What We Do
    .row
      .large-3.columns
        %h3.subheader Idea Igniter
        %p Turn your big idea into an actionable plan with The Igniter.    
      .large-3.columns
        %h3.subheader Custom Software Development 
        %p Boost profits and productivity with a new or upgraded app.
      .large-3.columns      
        %h3.subheader Design and User Experience
        %p Create on-brand tools that are easy to use and easy on the eyes.      
      .large-3.columns  
        %h3.subheader Online and In-Person Training
        %p Learn the latest development tools to work smarter and faster.

  %section.case-study
    .row
      %h2.header--light.underline--blue Latest Work
    .row
      .large-8.columns.large-centered
        %h3.subheader Lumbee Enterprises
        %p.lead
          A software overhaul for the automotive industry that drives real business results.
    .row
      .large-3.columns.large-centered
        %a.button--large.brand1{href: '/case-studies/lumbee'} Read the case study

     
  %section
    .row
      %h2.header.underline--yellow Let's Keep in Touch
    .row
      .large-6.columns
        %a.anchor{name:"events"}
          %h3.subheader Upcoming Events
          #activities
            .events.inactive
            .spinner
              / %h4 Loading
              / %img{src: image_path('loading.gif')}
      .large-4.columns
        %p
          Sign-up for our email newsletter to receive monthly tech tips, news and events:
          = render partial: 'application/newsletter'

= render partial: 'application/footer'

:plain
  <script type="text/template" id="eventTemplate">
    <div class="columns one mobile-one">
      <img src="<%- person.gravatar_url %>" class="avatar" />
    </div>
    <div class="columns eleven mobile-three">
      <span class="person"><a href="https://twitter.com/<%- person.twitter %>"><%- person.firstName %></a></span>
      is <span class="verb"><%- verb %></span>
      <span class="event"><a href="<%- url %>"><%- name %></a></span>
      in
      <span class="location"><%- location %></span> on <%- occursOn %>.
    </div>
  </script>

- content_for(:javascript) do
  :javascript
    jQuery(function() { var activityView = new Gaslight.Views.ActivityView; });


