- content_for :javascript do
  :javascript
    new Gaslight.Views.SvgView({el: "#guides"}).render()

#guides
  %section.landingpage
    .row
      .large-12.columns.large-centered
        %h1.title We build apps that build businesses.
    .row
      .large-7.small-9.small-centered.columns.large-centered
        %p.standalone
          Gaslight is a design and development shop based around three driving principles.
    .row
      .large-8.columns.large-centered.overview--home.hide-for-small
        .row
          .large-4.columns
            %a.button--full-width.button--brand1{href: page_path('about')} Learn
            %p
              Think of us as early, early adopters. We find and explore new tech first. Then put the best tools and practices <a class="brand1--link", href="about", rel="About Us">to work for you.</a>

          .large-4.columns
            %a.button--full-width.button--brand2{href: page_path('work/ipc')} Build
            %p
              We wield our coding, design and UX chops to create custom software or super-charge existing software. See our <a class="brand2--link" href="work/ipc" rel="Case Study">latest work.</a>
          .large-4.columns
            %a.button--full-width.button--brand3{href: page_path('blog')} Share
            %p
              We’re open source all the way. Sharing everything we learn through our <a class="brand3--link" href="blog" rel="Blog">blog</a>, <a class="brand3--link" href="blog?tagged=podcast" rel="Podcast">podcast</a> and <a class="brand3--link" href="training" rel="Training">training classes</a>.
    .row
      .large-8.column.large-centered.overview--home.show-for-small
        .row
          .large-4.columns
            %a.button--full-width.button--brand1{href: page_path('about')} Learn

          .large-4.columns
            %a.button--full-width.button--brand2{href: page_path('work/ipc')} Build

          .large-4.columns
            %a.button--full-width.button--brand3{href: page_path('blog')} Share

#main.content.landing
  %section.header--about
    .row
      %h2.header--light We Are
      .underline--blue
    .row
      .large-9.columns.large-centered
        %p.lead--light
          We are a group of designers, developers and project guides passionate about revving up your business. We love to create technology tools that solve hard problems. And make your company faster and more profitable.
    .row
      .large-3.columns.large-centered
        %a.button--full-width.button--brand1{href: page_path('about')} Learn how we work

  %section
    .row
      %h2.header What We Do
      .underline--red
    .row.icons--homepage
      .large-3.columns
        %a.home--ignite{href: page_path('services'), rel: "Landing Igniter"}
          =image_tag "icons/home-ignite.svg", :class => "icon--link"
        %h3.subheader.center Idea Igniter
        %p.center Turn your big idea into an actionable plan with The Igniter.
      .large-3.columns
        %a.home--develop{href: page_path('services'), rel: "Landing CustomSoftware"}
          =image_tag "icons/home-develop.svg", :class => "icon--link"
        %h3.subheader.center Custom Software Development
        %p.center Boost profits and productivity with a new or upgraded app.
      .large-3.columns
        %a.home--design{href: page_path('services'), rel: "Landing Design"}
          =image_tag "icons/home-design.svg", :class => "icon--link"
        %h3.subheader.center Design and User Experience
        %p.center Create on-brand tools that are easy to use and easy on the eyes.
      .large-3.columns
        %a.home--learning{href: page_path('training'), rel: "Landing Training"}
          =image_tag "icons/home-learning.svg", :class => "icon--link"
        %h3.subheader.center Online and In-Person Training
        %p.center Learn the latest development tools to work smarter and faster.
    .row
      .large-3.columns.large-centered
        %a.button--full-width.button--brand3{href: '/services'} See our skills

  %section.case-study--home
    .row
      %h2.header--light Latest Work
      .underline--blue
    .row
      .large-7.columns.large-centered
        %h3.brand1 Lumbee Enterprises
        %p.lead--light
          A software overhaul for the automotive industry that drives real business results.
    .row
      .large-3.columns.large-centered
        %a.button--full-width.button--brand1{href: '/work/lumbee'} Read the case study


  %section.section--contrast
    .row
      %h2.header Let's Keep in Touch
      .underline--yellow
    .row
      .large-5.columns
        %p
          Sign-up for our email newsletter to receive monthly tech tips, news and events:
          = render partial: 'application/newsletter'
      .large-6.columns.hide-for-small
        .upcoming-events
          %table
            %thead.table__header--brand2
              %h3.subheader{name:"events"} Upcoming Gaslight Events
            %tbody
              #activities
                .events.inactive
                  .spinner
                    / %h4 Loading
                    / %img{src: image_path('loading.gif')}

:plain
  <script type="text/template" id="eventTemplate">
    <div class="columns large-2 small-2 upcoming-events__author">
      <img src="<%- person.gravatar_url %>" class="avatar avatar--small" />
    </div>
    <div class="columns large-10 small-10 upcoming-events__info">
      <span class="person"><a href="https://twitter.com/<%- person.twitter %>"><%- person.firstName %></a></span>
      is <span class="verb"><%- verb %></span>
      <span class="event"><a href="<%- url %>"><%- name %></a></span>
      in
      <span class="location"><%- location %></span> on <%- occursOn %>.
    </div>
  </script>

- content_for(:javascript) do
  :javascript
    jQuery(function() { var activityView = new Gaslight.Views.ActivityView; });


