- content_for :javascript do
  :javascript
    new Gaslight.Views.SvgView({el: "#guides"}).render()

= render partial: 'application/nav'

#guides
  %section.landingpage
    .row
      .large-12.columns.large-centered
        %h1.landingpage__tagline We build apps that build businesses.
    .row
      .large-6.columns.large-centered
        %p.landingpage__paragraph
          Gaslight is a design and development shop based around three driving principles.
    .row
      .large-8.column.centered.lbs.hide-for-small
        .row
          .large-4.columns
            %a.button--large.brand1{href: page_path('about')} Learn
            %p
              Think of us as early, early adopters. We find and explore new tech first. Then put the <a class="brand1--link" href="about" rel="About Us">best tools and practices</a> to work for you. 
          
          .large-4.columns
            %a.button--large.brand2{href: page_path('case-studies/ipc')} Build
            %p
              We wield our coding, design and UX chops to create custom software or super-charge existing software. See our <a class="brand2--link" href="case-studies/ipc" rel="Case Study">latest work.</a>
          .large-4.columns
            %a.button--large.brand3{href: page_path('blog')} Share
            %p
              We’re open source all the way. Sharing everything we learn through our <a class="brand3--link" href="blog" rel="Blog">blog</a>, podcast and training classes
    .row
      .large-8.column.large-centered.lbs.show-for-small
        .row
          .large-4.columns
            %a.button--large.brand1{href: page_path('about')} Learn
           
          .large-4.columns
            %a.button--large.brand2{href: page_path('case-studies/ipc')} Build
            
          .large-4.columns
            %a.button--large.brand3{href: page_path('blog')} Share
           
#main.landing-page
  %section.hero--weare
    .row
      .large-3.columns.landing-page__sidebar--about
        %h2 We Are
      .large-8.columns.large-offset-1.landing-page__info
        %p.lead
          We are a group of developers, designers and project guides passionate about building things. We want to solve hard problems and add the kind of value that makes your business more competitive and profitable. We want to be a trusted partner, not just a service provider. Learn more about how we partner with clients.
    .row
      .large-3.columns.large-offset-4
        %a.button--large.brand1{href: '/about'} See Who We Are

  %section.hero--process
    .row
      .large-3.columns.landing-page__sidebar--process
        %h2 Our Process
      .large-1.column.hide-for-small.landing-page__info
        .arrow-right
      .large-6.columns.end.landing-page__info
        .landing-page__heading The igniter
        %h4.landing-page__subheading Turning big ideas into successful projects
        %p
          You have a great idea. But throwing developers at a project doesn’t always get it off on the right foot. Every vision needs an actionable plan to become reality.          
          %a.brand3--link{href: '/Gaslight_Igniter_2013.pdf'} Learn how we can ignite your best ideas.

    .row
      .large-1.column.large-offset-3.hide-for-small
        .arrow-right
      .large-6.columns.end
        .landing-page__heading Team approach
        %h4.landing-page__subheading Becoming part of your team
        %p
          Need a dedicated team to work on your project? We have one. We love partnering with business owners and key stakeholders. During a project, you can expect to hear from us nearly everyday.
          %a.brand3--link{href: '/about'} Find out more about how we partner with clients.
    .row
      .large-1.column.large-offset-3.hide-for-small
        .arrow-right
      .large-6.columns.end
        .landing-page__heading Best in technology
        %h4.landing-page__subheading Bringing start-up technology to established businesses
        %p
          We’re constantly trying out the latest technology so you don’t have
          to. Then we put the best solutions to work for our clients. Discover
          the technology we’re using right now and how it can make your
          business better.

  %section.hero--worktogether
    .row
      .large-3.columns.landing-page__sidebar--contact
        %h2 Let's Keep in Touch
      .large-4.columns.large-offset-1.landing-page__info
        %p
          Sign-up for our email newsletter to receive monthly tech tips, news and events:
          = render partial: 'application/newsletter'
      .large-3.columns.large-offset-1.landing-page__contact
        %p Start a conversation:
        %ul.landing-page__contact
          %li
            %a{href: "mailto:hello@gaslight.co", rel: "Footer Contact", target: "_blank"}
              %i.icon-social-mail
          %li
            %a{href: "http://twitter.com/teamgaslight", rel: "Footer Social", target: "_blank"}
              %i.icon-social-twitter
          %li
            %a{href: "http://facebook.com/teamgaslight", rel: "Footer Social", target: "_blank"}
              %i.icon-social-facebook
          %li
            %a{href: "http://github.com/gaslight", rel: "Footer Social", target: "_blank"}
              %i.icon-social-github
          %li.justifylist--last

