- content_for :javascript do
  :javascript
    //new Gaslight.Views.SvgView({el: "#guides"}).render()

= render partial: 'application/nav'

%section#guides
  .row
    .twelve.columns.centered
      %h1.landingpage__tagline We build web apps that build businesses.
  .row
    .ten.columns.centered
      %p.landingpage__paragraph
        Gaslight partners with you to create custom web-based software or improve your existing software. We also lead in-person and online training sessions on the latest technology for development teams. All with a focus on business results.
  .row
    .ten.columns.centered
      %h3.landingpage__subheading Let’s work together to take your business new places.
  .row
    .eight.column.centered.lbs.hide-for-small
      .row
        .four.columns
          %a.button--large.brand1{href: post_path('kanban-smackdown-part-1')} Learn
          %p
            We’re always learning. Hear about our explorations with the Kanban process on the Gaslight podcast.
          %a.brand1--link{href: post_path('kanban-smackdown-part-1')} Check out the podcast &#62;
        
        .four.columns
          %a.button--large.brand2{href: page_path('case-studies/lumbee')} Build
          %p
            See how we overhauled Lumbee Enterprises’ software to improve productivity, profits and client relationships.
          %a.brand2--link{href: page_path('case-studies/lumbee')} See the case study &#62;
        .four.columns
          %a.button--large.brand3{href: "https://training.gaslight.co/"} Share
          %p
            Want to learn Backbone or Ember? We’re sharing the strengths and weaknesses of each framework along with code examples in our online training classes.
          %a.brand3--link{href: "https://training.gaslight.co/"} Learn from us &#62;

#main.landing-page
  %section.hero--weare
    .row
      .three.columns.landing-page__sidebar--about
        %h2 We Are
      .eight.columns.offset-by-one.landing-page__info
        %p.lead
          We are a group of developers, designers and project guides passionate about building things. We want to solve hard problems and add the kind of value that makes your business more competitive and profitable. We want to be a trusted partner, not just a service provider. Learn more about how we partner with clients.
    .row
      .three.columns.offset-by-four
        %a.button--large.brand1{href: '/about'} See Who We Are

  %section.hero--process
    .row
      .three.columns.landing-page__sidebar--process
        %h2 Our Process
      .one.column.hide-for-small.landing-page__info
        .arrow-right
      .six.columns.end.landing-page__info
        .landing-page__heading The igniter
        %h4.landing-page__subheading Turning big ideas into successful projects
        %p
          You have a great idea. But throwing developers at a project doesn’t always get it off on the right foot. Every vision needs an actionable plan to become reality. Learn how we can ignite your best ideas.
        .row
          .five.columns
            %a.button--large.brand3{href: '/Gaslight_Igniter_2013.pdf'} The Igniter
    .row
      .one.column.offset-by-three.hide-for-small
        .arrow-right
      .six.columns.end
        .landing-page__heading Team approach
        %h4.landing-page__subheading Becoming part of your team
        %p
          Need a dedicated team to work on your project? We have one. We love partnering with business owners and key stakeholders. During a project, you can expect to hear from us nearly everyday.Find out more about how we partner with clients.
        .row
          .five.columns
            %a.button--large.brand3{href: '/about'} Partner with Us
    .row
      .one.column.offset-by-three.hide-for-small
        .arrow-right
      .six.columns.end
        .landing-page__heading Best in technology
        %h4.landing-page__subheading Bringing start-up technology to established businesses
        %p
          We’re constantly trying out the latest technology so you don’t have
          to. Then we put the best solutions to work for our clients. Discover
          the technology we’re using right now and how it can make your
          business better.

  %section.hero--worktogether
    .row
      .three.columns.landing-page__sidebar--contact
        %h2 Let's Keep in Touch
      .four.columns.offset-by-one.landing-page__info
        %p
          Sign-up for our email newsletter to receive monthly tech tips, news and events:
          = render partial: 'application/newsletter'
      .three.columns.offset-by-one.landing-page__info
        %p Start a conversation:
        %ul.landing-page__contact
          %li
            %a{href: "mailto:hello@gaslight.co", rel: "Footer Contact", target: "_blank"}
              %i.icon-envelope
          %li
            %a{href: "http://twitter.com/teamgaslight", rel: "Footer Social", target: "_blank"}
              %i.icon-twitter
          %li
            %a{href: "http://facebook.com/teamgaslight", rel: "Footer Social", target: "_blank"}
              %i.icon-facebook-sign
          %li
            %a{href: "http://github.com/gaslight", rel: "Footer Social", target: "_blank"}
              %i.icon-github
          %li.justifylist--last

