- content_for(:title) { "Gaslight: Open House" }

#main.content
	%section.header--about
		.row
			.large-12.columns.large-centered
				%h1.title--light Open House
		.row
			.large-12.columns.large-centered
				%h3.subheading--light
					Come have a drink, grab a bite, and let's talk!
				.underline--blue.underline--heading

	%section
		.row
			.large-6.columns.large-centered.end
				%h2.heading Tuesday, December&nbsp;3
				%h3.subtitle.center 5:30 - 8:00pm
		.row
			.large-4.columns.large-centered.button-holder-openhouse
				%a.button--full-width.button--brand1{href: 'https://www.eventbrite.com/event/9089233141', target: "_blank"} RSVP
				%p.center Space is Limited

	%section.section--contrast
		.row
			.large-4.columns
				%img{src: "assets/icons/about-happy.svg", alt: "Who", :class => "icon"}
				%h3.subheading.center Who?
				%p We'd like to invite all our neighbors to stop by. If you want to chat about code, business ventures, or find out what software development and design can do for your business, join us!
			.large-4.columns
				%img{src: "assets/icons/contact-drinkup.svg", alt: "What", :class => "icon"}
				%h3.subheading.center What?
				%p Good snacks and good talk. We are holding an open house for our community friends to stop by and get to know each other. Come and get connected with other businesses in the area.
			.large-4.columns
				%img{src: "assets/icons/openhouse-location.svg", alt: "Where", :class => "icon"}
				%h3.subheading.center Where?
				%p 
					We're opening our office for this get-together. 
					%strong 11126 Kenwood Rd. Blue Ash, OH 45242. 
					Come to the building in the back of the parking lot. The door's open. Feel free to stop in anytime.