- content_for(:title) { "Gaslight: Open House" }

#main.content
	%section.header--about
		.row
			.large-12.columns.large-centered
				%h1.title--light 
					You’re Invited! 
					%br
					Gaslight Open House
		.row
			.large-12.columns.large-centered
				%h3.subheading--light
					Stop by our office for good food, drinks and conversation.
				.underline--blue.underline--heading

	%section
		.row
			.large-6.columns.large-centered.end#copy-openhouse
				%p
					%strong
						When: 
					Tuesday December 8, 5:30-8 p.m.
				%p
					%strong
						Where: 
					Gaslight, 11126 Kenwood Rd. Blue Ash, OH 45242
				%p
					%strong
						What: 
					Mingle with other members of the local tech and business communities. We’ll be talking code, software development and just about anything else you can think up.
		
			.large-4.columns.large-centered#button-holder-openhouse
				%p.center.subheading Save your spot!
				%a.button--full-width.button--brand1{href: 'https://www.eventbrite.com/event/9089233141', target: "_blank"} RSVP