- content_for(:title) { "Gaslight: Open House" }

#main.content.with-photo
	%section.header--about
		.row
			.large-12.columns.large-centered
				%h1.title--light 
					You’re Invited! 
					%br
					Gaslight Open House
		.row
			.large-12.columns.large-centered
				%h3.subheading--light
					Stop by our office for good food, drinks and conversation.
				.underline--blue.underline--heading

	%section
		.row
			.large-6.columns.large-centered.end
				%p.declaration
					%strong
						When: 
					Tuesday December 3, 5:30-8 p.m.
				%p.declaration
					%strong
						Where: 
					Gaslight, 11126 Kenwood Rd. Blue Ash, OH 45242
				%p.declaration
					%strong
						What: 
					Mingle with other members of the local tech and business communities. We’ll be talking code, software development and just about anything else you can think up.
				%hr
		.row
			.large-8.columns.large-centered
				%div{style: "width:100%; text-align:left; margin-top:20px;"}
					%iframe{allowtransparency: "true", frameborder: "0", height: "214", hspace: "0", marginheight: "5", marginwidth: "5", scrolling: "auto", src: "http://www.eventbrite.com/tickets-external?eid=9089233141&ref=etckt&v=2", vspace: "0", width: "100%"}
					%div{style: "font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;"}
						%a{href: "http://www.eventbrite.com/r/etckt", style: "color:#ddd; text-decoration:none;", target: "_blank"} Event management
						%span{style: "color:#ddd;"} for
						%a{href: "https://www.eventbrite.com/event/9089233141?ref=etckt", style: "color:#ddd; text-decoration:none;", target: "_blank"} Gaslight Open House
						%span{style: "color:#ddd;"} powered by
						%a{href: "http://www.eventbrite.com?ref=etckt", style: "color:#ddd; text-decoration:none;", target: "_blank"} Eventbrite