- content_for(:title) { "Gaslight: Services" }

#main.content
  %section.header--services
    .row
      .large-12.columns.large-centered
        %h1.title--light Supercharge Your Business
    .row
      .large-8.columns.large-centered
        %h3.subheader--light
          Need a tech boost? We know how to make it count.
        .underline--yellow.underline--header

  %section
    .row.large-centered
      %h2.header Idea Igniter
      .underline--yellow
    .row
      .large-9.columns.large-centered
        %p.lead.center
          You have a great idea. But throwing developers at a project doesn’t always get it off on the right foot. Every vision needs an actionable plan to become reality. In our Igniter sessions, we take you through an intensive process to figure out exactly what your initial product needs to be successful. Find out what you can achieve with The Igniter.
    .row
      .large-2.columns.large-centered
        %a.button--full-width.button--brand2.center{href: "/Gaslight_Igniter_2013.pdf"} The Igniter
  %section.section--contrast
    .row.large-centered
      %h2.header Custom Software Development
      .underline--yellow
    .row
      .large-9.columns.large-centered
        %p.lead.center
          A great app isn’t just a business tool. It’s a business driver. We build software that powers core business functions, everything from workflow and accounting to national gift card programs. Let’s work together to create a new revenue stream, boost your bottom line or transform that over-burdened spreadsheet into powerful software. Already have an app that’s falling short? We can power it up.
  %section
    .row.large-centered
      %h2.header Design and User Experience
      .underline--yellow
    .row
      .large-9.columns.large-centered
        %p.lead.center
          We appreciate good looks, but it’s what’s behind the design that counts. Our design and UX talent works hand-in-hand with the development team to create an app that’s smart and beautiful. We create intuitive user experiences, so your team actually looks forward to using your new app.
  %section.section--contrast
    .row.large-centered
      %h2.header The Tools
      .underline--yellow
    .row
      .large-3.columns
        =image_tag "icons/service-ruby.svg", :class => "icon"
        %h1.subheader.center Ruby on Rails
        %p.center Bring start-up speed to enterprise software development
      .large-3.columns
        =image_tag "icons/service-jruby.svg", :class => "icon"
        %h1.subheader.center JRuby
        %p.center Introduce Ruby into a Java environment
      .large-3.columns
        =image_tag "icons/service-angular.svg", :class => "icon"
        %h1.subheader.center AngularJS
        %p.center Develop rich Web applications at lightning speed
      .large-3.columns
        =image_tag "icons/service-ember.svg", :class => "icon"
        %h1.subheader.center Ember.js
        %p.center Develop rich Web applications at lightning speed
    .row
      .large-3.columns
        =image_tag "icons/service-ios.svg", :class => "icon"
        %h1.subheader.center iOS
        %p.center Access your app on-the-go with mobile development
      .large-3.columns.end
        =image_tag "icons/service-future.svg", :class => "icon"
        %h2.subheader.center Eyes on the Future
        %p.center
          Technology changes fast. That’s why we’re always trying out—and even developing—the newest tools and methods.