- content_for(:title) { "Gaslight: Style Guide" }
= render partial: 'application/nav'

#main.container
  %section.landing__about.styleguide
    .row
      .large-12.columns
        %h2.header--light.underline--blue Colors
    .row
      .large-6.large-offset-3
        .row
          .large-2.column
            .swatch--brand1
            %p.swatch__caption #60bce4
          .large-2.column
            .swatch--brand2
            %p.swatch__caption #f1d618
          .large-2.column
            .swatch--brand3
            %p.swatch__caption #d63d2f
          .large-2.column
            .swatch--brandBase
            %p.swatch__caption #000
          .large-2.column
            .swatch--darkgrey
            %p.swatch__caption #333
          .large-2.column
            .swatch--lightgrey
            %p.swatch__caption #ccc
        
  %section.headlines.styleguide
    .row
      .large-12.columns.styleguide__label
        %h2.header.underline--red Headlines
    .row
      .large-5.columns
        %h1.title h1 heading
        %h2.header.no-margin h2 heading
        .underline--blue
        %h3.subheader h3 heading
        %h4.subtitle h4 heading
      .large-7.columns.callout__container
        %p.lead
          The discordance of host and Wolbachia phylogenies indicates that these bacteria have moved between host lineages on
          %a{href: "#"} multiple occasions
          during their evolutionary history, although.
        %p And this is some text in a paragraph below it. Looks good. To understand what is really going on in a colony of ants or bees, Dr. Dornhaus, an assistant professor of ecology and evolutionary biology at the University of Arizona, tracks the little creatures individually — hence the paint and the numbers. Individual ants, she said, have “their own brains and legs, as well as complex and flexible behaviors.” She continues, “Each ant’s behavior and the rules under which it operates generate a pattern for the colony, so it’s crucial to discover its individual cognitive skill.”
  %section.inputs.styleguide.section--contrast
    .row
      .large-12.columns.styleguide__label
        %h2.header.underline--yellow Form Text Fields
    .row
      %form
        .large-6.columns
          %label{class: "input__label", for: "text--normal"} Normal
          %input#text--normal{type: "text"}/
          %label.error{class: "input__label", for: "text--error"} Error
          %input.error#text--error{type: "text", value: "Error!"}/
          %label{class: "input__label", for: "text--disabled"}Disabled
          %input#text--disabled{disabled: "disabled", type: "text"}/
          %label{class: "input__label", for: "dropdown"} Dropdown
          %select.dropdown
            %option
            %option Option 1
            %option.dropdown--hover Option 2
            %option Option 3
          %label{class: "input__label", for: "checkbox--normal"} Normal
          %input#checkbox--normal{type: "checkbox"}/
          %label{class: "input__label", for:"checkbox--selected"} Selected
          %input#checkbox--selected.checkbox--selected{type: "checkbox"}/
          %label{class: "input__label", for: "checkbox--disabled"} Disabled
          %input#checkbox--disabled{disabled: "disabled", type: "checkbox"}/
          %form
            %label{class: "input__label"} Normal
            %input#checkbox--normal{type: "radio"}/
            %label{class: "input__label"} Normal
            %input#checkbox--normal{type: "radio"}/
            %label{class: "input__label"} Disabled
            %input#checkbox--normal{disabled: "disabled", type: "radio"}/
        .large-6.columns
          %label{class: "input__label", for: "textarea"} Text Area
          %textarea

  %section.buttons.styleguide
    .row
      .large-12.columns.styleguide__label
        %h2.header.underline--blue Buttons
    .row
      .large-5.columns
        %button.button.button--blue Primary
        %button.button--full-width.button--yellow Primary
      .large-5.columns
        %button.button--small.button--red Secondary
        %button.button--small.button--black Secondary

  %section.tables.styleguide.section--contrast
    .row
      .large-12.columns.styleguide__label
        %h2.header.underline--red Tables
    .row
      .large-12.columns
        %table
          %thead.table__header
            %tr
              %th Table Header One
              %th Table Header Two
              %th Table Header Three
              %th Table Header Four
          %tbody.table__info
            %tr
              %td TD One
              %td TD Two
              %td TD One
              %td TD Two
            %tr
              %td TD One
              %td TD Two
              %td TD One
              %td TD Two
            %tr
              %td TD One
              %td TD Two
              %td TD One
              %td TD Two
            %tr
              %td TD One
              %td TD Two
              %td TD One
              %td TD Two

= render partial: 'application/footer'