<div class="chapter">
  {{#if previousChapter}}
    {{#linkTo 'chapter' previousChapter class="nav-button nav-button--left"}}
      <i class="icon-angle-left nav-button__icon"></i>
      <span class="nav-button__text">Previous</span>
    {{/linkTo}}
  {{/if}}

  {{#if videoUrl}}
    {{video-player src=videoUrl poster=posterUrl class="chapter__video"}}
  {{/if}}

  {{#if nextChapter}}
    {{#linkTo 'chapter' nextChapter class="nav-button nav-button--right"}}
      <span class="nav-button__text">Next</span>
      <i class="icon-angle-right nav-button__icon"></i>
    {{/linkTo}}
  {{/if}}
</div>

<div class="chapter__description">
  {{markdown description}}
</div>

{{#if codeUrl}}
  <iframe class="chapter__code" {{bindAttr src=codeUrl}}></iframe>
{{/if}}