<div class="intro">
  <h1 class="intro__heading">Welcome to {{courseTitle}}</h1>

  <hr>

  <div class="row">
    <div class="large-6 columns">
      <img class="intro__image" src="http://assets1.gaslight.co/static/images/ember-intro--video.jpg" alt="Ember Video">
    </div>
    <div class="large-6 columns">
      <p> Each chapter will have a video of the lesson being taught.
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
      <img class="intro__image" src="http://assets1.gaslight.co/static/images/ember-intro--jsbin.jpg" alt="Ember Video">
    </div>
    <div class="large-6 columns">
      <p> JSBin is embedded underneath each video so you can follow along without having to switch to your editor.
    </div>
  </div>

  <div class="row"  >
    <div class="large-6 columns">
      <img class="intro__image" src="http://assets1.gaslight.co/static/images/ember-intro--github.jpg" alt="Ember Video">
    </div>
    <div class="large-6 columns">
      <p> Get confused? No problem, just pull the branch of the lesson you are working on to get up to speed.</p>
      {{#link-to 'chapter' firstChapter class="button button--primary"}}
        Get Started! <i class="fa fa-arrow-right"></i>
      {{/link-to}}
    </div>
  </div>
  <hr>
</div>