- content_for :javascript do
  :javascript
    new Gaslight.Views.SvgView({el: "#guides"}).render()

= render partial: 'application/nav'

#guides
  .row
    .columns.twelve
      %img.wendell{ src: image_path('wendell-lost.png') }
      
  .intro
    %h1.hide-for-small
      What? Where'd it go??
    %p.hide-for-small 
      Uh oh. Whatever you were looking for seems to have gone missing.
      I'm not sure how it happened, but it did. Now we have to deal with it.
      How about something else? Check out the blog or the podcast, maybe?
      Read about some work we've done?

    %p.lead.show-for-small 
      %strong What? Where'd it go??
      %br/
      Whatever you were looking for doesn't seem to be here anymore ;(
    %a.button.brand3.hide-for-small{href: page_path("contact"), rel: "Homepage Lets Talk button" } Let's Talk

  .buttonLinks.show-for-small
    %a.button.brand1{href: page_path("about"), rel: "Homepage mobile button" } About
    %a.button.brand2{href: page_path("work"), rel: "Homepage mobile button" } Work
    %a.button.brand3{href: page_path("contact"), rel: "Homepage mobile button" } Contact

  

