<div {{action 'deactivate'}} class="modal__backdrop"></div>

<div class="modal__box" }}>
  <div class="modal__content">
    <a {{action 'deactivate'}} class="modal__close">&times;</a>
    <h1>Thanks for trying {{course.title}}</h1>
    <p>There's plenty more great content where that came from! If you enjoyed what you saw here, enroll in the full course!</p>
  </div>

  <hr/>

  <div class="modal__actions row">
    <div class="large-4 columns">
      <a class="action action--secondary" href="/training/">Exit the demo</a>
    </div>
    <div class="large-4 columns">
      <a class="button button--primary" {{bindAttr href=purchaseUrl}}>Enroll now!</a>
    </div>
  </div>
</div>