.trainingcourse__content{
  padding-right: 35px;
  li {
  font-size: 18px;
  }

  ul {
    padding-left: 20px;
  }
}

.sidebar--training{
  padding: 5px 30px;
  border-left: 1px solid #eee
}

.action_container {
  border: 1px solid #eee;
  background-color: #f5f3f3;
  padding: 0.5em 1em;
  margin-bottom: 20px;
  text-align: center;
}

.button {
  margin-bottom: 20px;
  width: 100%;
}

%sidebar__block {
  img {
    width: 100%;
  }
  h5 {
    @extend .brand3;
    background-color: $brandBase;
    padding: 10px 0;
    color: #fff;
    text-align: center;
  }
  p {
    border: 1px solid #eee;
    border-top: none;
    padding: .75em;
    font-size: 14px;
  }
}

.instructor, .testimonial {
  @extend %sidebar__block;
}

blockquote {
  border: 1px solid #eee;
  margin-bottom: 20px;
  min-height: 300px;
  padding: 0.25em 0.5em;
}


.course__title{
  color: #fff;
  margin-top: 0px;
  background: $brand1;
  padding: 10px 20px;
  text-align: center;
}

.course__img {
  height: 100px;
}


.training__subhead{
  font-size: 16pt;
  background: #eee;
  padding: 10px 20px;
  text-align: center;
  margin-top: 60px;
}

.request{
  margin-bottom: 20px;
}

div.intro div.orbit-wrapper {
  div.orbit.featuredContent{
    max-width: 95%;
    position: absolute;
    top: 50%;
    margin-top: -100px;
  }

  div.timer {
    display: none;
  }

  div.orbit-slide{
    p{
      font-weight: 600;
      font-size: 23px;
      color: #444;
    }

    span{
      font-size: 20px;
    }
  }
}

.course__image {
  max-width: 100%;
  padding: 10px;
}

.button--request{
  background-color: #fff;
  color: $brandBase;
  border: 2px solid #999;
  text-align: center;
  &:hover{
    color: #fff;
  }
}

@media only screen and (max-width: 767px){
  .sidebar--training{
    padding: 0;
    border-left: 0px solid #fff;
  }
}

//--------------------------------//
//     FEATURED COURSE CARD       //
//--------------------------------//

.featured-card{
  border: 1px solid #ccc;
  padding: 15px;
}

.featured-card__meta{
  font-size: 16px;
  text-transform: uppercase;
  color: grey;
  margin: 0
}

.featured-card__title h1{
  @extend %headline;
  display: inline-block;
  //font-size: 50px;
  //font-weight: normal;
  line-height: 1.2em;
  color: #000;
  &:hover{
    color: inherit;
  }
}

%more-info-link{
  float: right;
  position: relative;
  text-transform: uppercase;
  margin-right: 10px;
  &:hover{
    text-decoration: underline;
  }
  &::after{
    content: "";
    display: block;
    height: 0;
    width: 0;
    border: 5px solid;
    border-color: transparent transparent transparent $brand1;
    position: absolute;
    top: 1px;
    right: -15px;
  }
}

.featured-card__more-link{
  @extend %more-info-link;
  top: -15px;
}

.featured-card .button{
  margin-top: 20px;
  margin-bottom: 0;
}


//--------------------------------//
//         COURSE LISTING         //
//--------------------------------//

.course-list__course:hover .course__more-link{
  display: block;
}

.course__more-link{
  @extend %more-info-link;
  top: 10px;
  display: none;
}

.course__heading{
  display: inline-block;
  color: #000;
  margin-top: 0;
  &:hover{
    color: inherit;
  }
}

.course__description{
  margin-bottom: 25px;
}

.course__children-list{
  list-style: none;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 25px;
  a{
    position: relative;
    color: #999;
    &::after{
      content: "";
      display: none;
      height: 0;
      width: 0;
      border: 5px solid;
      border-color: transparent transparent transparent $brand1;
      position: absolute;
      top: 1px;
      right: -15px;
    }
    &:hover{
      color: $brand1;
      text-decoration: underline;
      &::after{
        display: block;
      }
    }
  }
}

.course__actions{
  display: inline-block;
  float: right;
  width: 50%;
  .button{
    display: block;
  }
}

