.course__img {
  height: 100px;
}

// this is rendered via markdown, so we cant use  class names
.course__description{
  h1{
    font-size: 24px;
    line-height: 26px;
    background: #eee;
    padding: 10px 20px;
    text-align: center;
    margin-top: 60px;
  }
}

.course__image {
  max-width: 100%;
  padding: 10px;
}
