%list-reset
  counter-reset: li
  margin-left: 0
  padding-left: 0
  & > li
    position: relative
    margin-left: 2em
    padding-left: 8px
    list-style: none
  & > li:before
    content: ""
    position: absolute
    top: -2px
    left: -2em
    width: 2em
    margin-right: 8px
    font-weight: bold
    text-align: center
  & > li:after
    content: ""
    position: absolute
    top: -2px
    left: -2em
    width: 2em
    margin-right: 8px
    font-weight: bold
    text-align: center

%list-reset--triangles
  @extend %list-reset
  & > li:before
    display: block
    height: 0px
    width: 0px
    top: -4px
    border-style: solid
    border-width: 6px 12px
    border-color: transparent transparent transparent $light-gray
    margin: 10px 0 0 15px
    +transition(all 0.25s ease-out)
  & > li:after
    display: block
    top: -2px
    left: -1.9em
    height: 0px
    width: 0px
    border-style: solid
    border-width: 4px 9px
    border-color: transparent transparent transparent transparent
    margin: 10px 0 0 15px
    +transition(all 0.25s ease-out)

.nav
  height: 100%
  overflow: auto
  & > li
    margin: 0
    padding: 0 1.25em

.nav__item
  border-bottom: 2px solid $gray
  overflow: hidden
  color: $dark-gray
  a
    color: inherit

.nav__item--active
  background: $dark-gray !important
  color: #fff
  .subnav__item
    opacity: 1
  .subnav__item:after
    border-color: transparent transparent transparent $dark-gray
  .subnav__item--complete
    &:before
      border-color: transparent transparent transparent $light-gray !important
    &:after
      border-color: transparent transparent transparent transparent

.nav__heading
  position: relative
  font-size: $subtitle
  margin: 0
  line-height: 3em
  font-weight: bold

.nav__heading__title
  font-weight: bold

.nav__heading__count
  position: absolute
  right: 0

.subnav
  @extend %list-reset--triangles
  margin-left: -0.65em
  margin-bottom: 10px

.subnav__item
  a
    display: block
  &:hover:before
    left: -1.75em
  &:hover:after
    left: -1.65em

.subnav__item--complete
  &:before
    border-color: transparent transparent transparent $dark-gray !important

.subnav__item--active
  &:after
    border-color: transparent transparent transparent transparent !important
  a
    font-weight: bold

.subnav__item--disabled
  color: #999

.subnav__link
  display: block
  position: relative
  overflow: auto
  margin-right: 24px
  .left
    float: left
  .right
    float: right

.subnav__icon
  position: absolute
  top: 0
  right: 0