- content_for(:title) { "Contact Us" }
= render partial: 'application/nav'

#main.landing-page
  %section.landing__about
    .row
      .large-12.columns.large-centered
        %h1.title--light Let’s Keep in Touch
    .row
      .large-8.columns.large-centered
        %h3.subheader We’re big on community and love to connect with new people. Say hello.
        .underline--red
  %section.row
    .large-4.columns
      %h2.subheader Visit our Cincinnati office. 
      %a{target: "_blank", href: "http://goo.gl/maps/aNb8r", rel: "Contact Header Google Map"}
    .large-8.columns
      %h3.subheader Kick Off a Project
      %p Ready to work together? Just answer a 
      %a{href: "#", rel: "Project Form"}few quick questions. 
      %h3.subheader Say Hello
      %address
      %a{href: "tel:8885073430", rel: "Contact Header"} 1-888-507-3430
      %address
      %a{href: "mailto:hello@gaslight.co", rel: "Contact Header"} hello@gaslight.co
      %h3.subheader Have Coffee with Gaslight 
      %p We open our office every Friday morning at 8 a.m. for free lattes and good conversation. Stop by and 
      %a{ href: page_path('coffee') }join us. 
      %h3.subheader Careers
      %p We’re always scouting talent. Send work samples to: 
      %a{href: "mailto:careers@gaslight.co", rel: "Contact Career"} careers@gaslight.co

  %section.section--contrast
    .row
      %h2.header.underline--red Places You’ll Find Us
    .row
      .large-8.columns.large-centered
        %p.lead
          Try one of these local events we founded, host or both. Oh, and there’s usually beer, too.
    .row
      .large-3.columns
        %h3.subheader QC Merge
      .large-3.columns
        %h3.subheader Web/Tech Drinkup
      .large-3.columns
        %h3.subheader Cincy RB
      .large-3.columns
        %h3.subheader EmberNati

  .buttonLinks.show-for-small
    %a.button.brand3{href: "tel:8885073430", rel: "Mobile contact button"} Call
    %a.button.brand3{href: "mailto:hello@gaslight.co", rel: "Mobile contact button"} Email
    %a.button.brand3{href: "http://goo.gl/maps/aNb8r", rel: "Mobile contact button"} Maps

  / %section.row.contact
  /   .large-11.columns.centered
  /     %h2.title.brand3 Work With Us
  /   .row
  /     .large-4.columns.sidebar
  /       %h5.brand3 The New Project Form
  /       .content
  /         %p <strong>Have an idea that’s ready for design and development?</strong> Kick things off by filling out our new project form. It helps us get to know you and your idea a little better. 

  /         %p We’ll follow-up within three business days to talk about how we might be able to help.
  /     .large-8.columns.sidebar
  /       #contact 
  /         = render partial: 'form'

= render partial: 'application/footer'