- content_for(:title) { "Contact Us" }
= render partial: 'application/nav'

#main.content
  %section.header--about
    .row
      .large-12.columns.large-centered
        %h1.title--light Let’s Keep in Touch
    .row
      .large-8.columns.large-centered
        %h3.subheader--light We’re big on community and love to connect with new people. Say hello.
        .underline--red.underline--header 
    / .buttonLinks.show-for-small
    /   %a.button.button--brand1{href: "tel:8885073430", rel: "Mobile contact button"} Call
    /   %a.button.button--brand2{href: "mailto:hello@gaslight.co", rel: "Mobile contact button"} Email
    /   %a.button.button--brand3{href: "http://goo.gl/maps/aNb8r", rel: "Mobile contact button"} Maps

  / %section
  /   .row.large-centered
  /     %h2.header Work With Us
  /     .underline--red
  /   .row
  /     .large-9.columns.large-centered
  /       %p.lead.center
  /         Have an idea that’s ready for design and development? Kick things off by filling out our new project form. It helps us get to know you and your idea a little better. We’ll follow-up within three business days to talk about how we might be able to help.
  /   .row
  /     .large-8.columns.large-centered
  /       #contact 
  /         = render partial: 'form' 

  %section.row
    .large-4.columns
      %a{target: "_blank", href: "http://goo.gl/maps/aNb8r", rel: "Contact Header Google Map"}
        =image_tag "icons/contact-us.svg", :class => "icon--link--large" 
      %h2.subheader.center Visit our Cincinnati office. 
    .large-8.columns
      %h3.subheader Kick Off a Project
      %p 
        Ready to work together? Just answer a 
        %a.brand3--link{href: "#", rel: "Project Form"}few quick questions. 

      %h3.subheader Say Hello
      %p 
        Drop us a line by email 
        %a.brand3--link{href: "mailto:hello@gaslight.co", rel: "Contact Header"} hello@gaslight.co
        or give us a ring at
        %a.brand3--link{href: "tel:8885073430", rel: "Contact Header"} 1-888-507-3430
      

      %h3.subheader Have Coffee with Gaslight 
      %p 
        We open our office every Friday morning at 8 a.m. for free lattes and good conversation. Stop by and 
        %a.brand3--link{ href: page_path('coffee') }join us.

      %h3.subheader Careers
      %p 
        We’re always scouting talent. Send work samples to: 
        %a.brand3--link{href: "mailto:careers@gaslight.co", rel: "Contact Career"} careers@gaslight.co

  %section.section--contrast
    .row
      %h2.header Places You’ll Find Us
      .underline--red
    .row
      .large-8.columns.large-centered
        %p.lead.center
          Try one of these local events we founded, host or both. Oh, and there’s usually beer, too.
    .row
      .large-3.columns
        %a{target: "_blank", href: "http://qcmerge.com/", rel: "QCMerge"}
          =image_tag "icons/contact-qcmerge.svg", :class => "icon--link" 
        %h3.subheader.center QC Merge
      .large-3.columns
        %a{target: "_blank", href: "http://www.meetup.com/Cincinnati-Web-Tech-Drinkup/", rel: "Webtech"}
          =image_tag "icons/contact-drinkup.svg", :class => "icon--link" 
        %h3.subheader.center Web/Tech Drinkup
      .large-3.columns
        %a{target: "_blank", href: "http://cincyrb.com/", rel: "Cincyrb"}
          =image_tag "icons/contact-cincirb.svg", :class => "icon--link" 
        %h3.subheader.center Cincy RB
      .large-3.columns
        %a{target: "_blank", href: "http://www.meetup.com/EmberNati/", rel: "Embernati"}
          =image_tag "icons/contact-embernati.svg", :class => "icon--link" 
        %h3.subheader.center EmberNati


= render partial: 'application/footer'