%button
  @include border-radius(2px)
  color: $white
  display: inline-block
  font-family: inherit
  margin: 0
  position: relative
  text-align: center
  text-decoration: none
  border: none
  &:hover
    color: #fff
    background-color: lighten($brandBase,20)

.button
  @extend %button
  font-size: 16px
  font-weight: 600
  min-width: 150px
  padding: ($btn-base + 4) ($btn-base * 2) ($btn-base + 1)
  &:focus
    outline: none


.button--small
  @extend %button
  font-size: 14px
  font-weight: 500
  min-width: 80px
  padding: $btn-base

.button--full-width
  @extend %button
  font-size: 16px
  font-weight: 600
  width: 100% !important
  padding: ($btn-base + 4) ($btn-base * 2) ($btn-base + 1)
  margin: 10px 0

.button--brand1
  background-color: $brand1

.button--brand2
  background-color: $brand2

.button--brand3
  background-color: $brand3

.button--black
  background-color: $brandBase


.button--quiet
  @extend %button
  background: none
  color: #939598
  &:hover
    color: #ffffff
    background: #939598
  &:active
    background: darken(#939598, 10%)