// Work Page

%hero__heading
  margin-top: 0
  margin-bottom: 0
  color: #fff

%hero__header
  padding: 25px 0
  h1
    @extend %hero__heading
    font-weight: bold
  h3
    @extend %hero__heading
    font-weight: normal
  h4
    @extend %hero__heading
  p
    color: #fff

.hero__header
  @extend %hero__header

.hero__featured-header--animated
  @extend %hero__header
  background-color: rgba(0,0,0,0.65)
  @include transition(all 0.5s)
  &:hover
    padding: 170px 0
    background-color: rgba(239,199,3,0.65)

.hero__header
  @extend %hero__header
  @include transition(all 0.5s)
  background-color: rgba(0,0,0,0.65)
  padding: 80px 0

.hero__header--animated
  @extend %hero__header
  @include transition(all 0.5s)
  background-color: rgba(0,0,0,0.65)
  padding: 80px 0
  &:hover
    background-color: rgba(239,199,3,0.65)


.hero__header--brand1
  @extend %hero__header
  background-color: rgba(87,192,232,0.9)


%hero
  margin-left: -50px
  margin-right: -50px
  overflow: hidden
  background-repeat: no-repeat
  margin-bottom: $sectionMargin
  .row
    padding-left: 25px
    padding-right: 25px

%hero--top
  @extend %hero
  margin-top: -40px

%case-study--featured
  height: 450px

%case-study
  height: 250px

.case-study--lumbee
  @extend %hero
  @extend %case-study--featured
  background-image: image-url("casestudy/lumbee_hero.jpg")

.case-study--ipc
  @extend %hero
  @extend %case-study--featured
  background-image: image-url("casestudy/ipc_hero.jpg")

// Case Study

.case-study--lumbee--first
  @extend %hero--top
  @extend %case-study--featured
  background-image: image-url("casestudy/lumbee_hero.jpg")
.case-study--lumbee--second
  @extend %hero
  min-height: 350px
  background-image: image-url("casestudy/lumbee_video.jpg")
  background-color: #000

.case-study--lumbee--third
  @extend %hero
  min-height: 350px
  background-image: image-url("casestudy/lumbee_ba.jpg")

.case-study--ipc--first
  @extend %hero--top
  @extend %case-study--featured
  background-image: image-url("casestudy/ipc_hero.jpg")
.case-study--ipc--second
  @extend %hero
  min-height: 300px
  background-image: image-url("casestudy/ipc--2.jpg")
  background-color: #000

.case-study--ipc--third
  @extend %hero
  min-height: 300px
  background-image: image-url("casestudy/ipc--1.jpg")

.case-study__design .row
  margin-bottom: $sectionMargin
  &:last-child
    margin-bottom: 0

%case-study__sidebar
  border-top-width: 8px
  border-top-style: solid
  margin-bottom: 10px
  display: inline-block
  h4
    font-weight: bold
    margin-bottom: 0
    line-height: 1.3em
  p
    font-size: 14px

  li
    list-style: none

.case-study__sidebar
  @extend %case-study__sidebar
  border-top-color: $brand1
  h4
    color: $brand1
  .button
    width: 100%

.case-study__sidebar--design
  @extend %case-study__sidebar
  border-top-color: $brand2

h4.case-study__sidebar__subheading
  color: $brand2
  margin-top: 0

h4.case-study__sidebar__heading
  color: #000
  text-transform: uppercase
  margin-top: 10px
  margin-bottom: 0

%case-study__quote
  p
    font-size: 24px
    margin-top: 50%
    @include translateY(-50%)
  h4
    color: #eee
    font-size: 16px
    .case-study__quote--title
      font-weight: 400

.case-study__quote
  @extend %case-study__quote

.case-study__quote--full
  p
    font-size: 50px
  h4
    color: #eee
    font-size: 25px
  .case-study__quote--title
    font-weight: 400

.case-study__beforeafter
  margin-top: 40px

.case-study__next
  .button
    margin-top: 10px


@media only screen and (min-width : 320px) and (max-width: 767px)
  .hero__header--brand1, .hero__header--animated, .hero__featured-header--animated
    h1
      font-size: 36px
      line-height: 1.2em
      padding: 0 10px
    h3
      padding: 0 10px
  .case-study__buzzword
    font-size: 36px
    line-height: 1.2em
  .case-study--lumbee, .case-study--lumbee--first, .case-study--lumbee--second, .case-study--lumbee--third, .case-study--ipc, .case-study--ipc--first, .case-study--ipc--second, .case-study--ipc--third
    margin-left: -25px
    margin-right: -25px
  .case-study__quote
    p
      font-size: 24px
      margin-top: 25px
      @include translateY(0%)
  .case-study__quote--full
    margin: 0 10px
    p
      font-size: 30px
      margin-top: 10px
    h4
      color: #eee
      font-size: 15px
  .case-study__next
    margin-bottom: 20px
