#footer
  background: #000
  @include clearfix()
  padding-top: 10px
  text-align: center
  color: #fff
  a
    color: #ccc
    font-weight: bold
    &:hover
      color: $brand1
      font-weight: bold
      @include transition-duration(0.5s)
  ul.socialLinks
    display: inline-block
    margin-left: 0px
    li a
      border: none
      font-size: 14px
  .footer__contact
    float: left
    p
      font-size: 14px
      font-weight: bold
      margin-bottom: 0