#footer
  background: #000
  @include clearfix()
  padding: 13px 0 0
  text-align: center
  color: #fff
  // a
  //   color: #ccc
  //   font-weight: bold
  //   &:hover
  //     color: $brand1
  //     font-weight: bold
  //     @include transition-duration(0.5s)
  
  .socialLinks--footer
    margin: 0 0 0 -20px
    float: right
    li
      list-style: none
      display: inline-block

  // i[class^="icon"]
  //   display: inline-block

  .footer__contact
    p
      font-size: 14px
      font-weight: 700
      margin-bottom: 0
    a
      color: #ddd
      font-size: 14px
      font-weight: 500
      &:hover
        color: $brand1