.brand1
  color: $brand1

.brand2
  color: $brand2

.brand3
  color: $brand3

.row--lg-margin-bottom
  @extend .row
  margin-bottom: 70px

.row--lg-margin-top
  @extend .row
  margin-top: 50px
  
.element--sm-margin-bottom
  margin-bottom: 10px

.element--sm-margin-top
  margin-top: 5px

#main
  background: #fff
  padding: $topbar-height 0 0 0
  min-height: 100%
  .intro
    padding: 20px 45px 20px 55px
  .item
    margin: 20px 0
    h3
      margin: 0
    p
      font-size: 1.25em
      margin: 0
    address a
      color: $brand3
      font-style: normal
      font-size: 1.5em
      font-weight: bold
      &:hover
        color: darken($brand3, 30%)

  ul.landing-page__contact
    margin-top: 5px


#main.content section
  padding: 4em 0 4.5em 0
  &:last-child
    padding-bottom: 80px + $footerHeight

#main section.header
  position: relative
  margin-top: 100px + $topbar-height
  // margin-bottom: 150px
  padding: 10px 0

#main.landing
  padding: 0

#main.no-photo
  padding-top: $topbar-height * 2
  margin-bottom: 35px

.section--contrast
  background-color: $section-contrast

.icons--margin
  margin-bottom: 30px

// ------  Landing Page ------ //
.landingpage
  position: relative
  margin-top: 75px + $topbar-height
  padding: 10px 0
  margin-bottom: 100px
  background: rgba(244,244,244,0.8)

.landingpage .lead
  text-align: center

.landing-page__info
  margin-top: 5px
  p
    margin-bottom: 30px
.landing-page__contact p
  margin-bottom: 5px
.overview--home
  text-align: center
  display: inline-block
  p
    color: #222
    font-size: 15px
    margin: 10px 0

.iconTile
  text-align: center
  margin-bottom: 20px

.row.expertise
  p
    margin-bottom: 40px

hr.divider
  border: 1px solid #c1c1c1
  text-align: center

.mobile-links
  padding: 160px 20px
  width: 100%
  background: image-url('landing/contact.jpg') center
  background-size: cover
  .button
    width: 100%
    display: block
    margin-bottom: 20px

.sidebar
  h5
    background-color: #222
    color: #fff
    margin: 0
    padding: 10px 0
    text-align: center
  .content
    padding: 20px
    background: #f4f4f4

a.anchor
  display: block
  position: relative
  top: -$topbar-height - 10

body.errors
  background-color: #222
  width: 100%

.error-page
  height: 100%
  width: 100%    

.error-page__message
  position: absolute
  top: 50%
  margin-top: -180px
  left: 0
  max-width: 400px
  background: #000
  color: #fff
  background: rgba(0, 0, 0, 0.75)
  padding: 20px
  h2
    color: #fff
    font-weight: normal
    margin-bottom: 20px
  p
    text-align: left
  .button
    margin: 8px 0
    float: right
  p.lead
    text-align: center

.officehours--1to1
  height: 2em
  color: $brand1
  line-height: 2.25em
  font-size: 4em
  width: 2em
  letter-spacing: -.07em

#new_office_hours_message
  .success
    background-color: $brand1
    text-align: center
    margin-bottom: 1em
    padding: 1em

  .wendell
    margin-top: 100px



