#guides
  @include clearfix()
  overflow: hidden
  width: 100%
  background: #f4f4f4
  .intro
    position: absolute
    top: 50%
    margin-top: -180px
    left: 0
    max-width: 400px
    background: #000
    color: #fff
    text-align: justify
    background: rgba(0, 0, 0, 0.75)
    p
      text-align: left
    .button
      margin: 8px 0
      float: right

  .wendell
    margin-top: 100px
  svg, > div
    position: absolute !important
    top: 0px

.landingpage
  position: relative
  margin-top: 125px + $topBarHeight
  margin-bottom: 125px
  padding: 20px 0
  background: rgba(244, 244, 244, 0.8)

.landingpage__tagline
  text-align: center
  font-size: 325%

.landingpage__paragraph
  text-align: center
  font-size: 20px

.landingpage__subheading
  text-align: center
  margin-bottom: 35px

.landing-page__info
  margin-top: 25px

.lbs
  width: 100%
  text-align: center
  display: inline-block
  p
    color: #222
    font-size: 14px
    margin: 10px 0
  .button--large
    width: 100%
    text-transform: uppercase
    margin-top: 10px
  a
    font-weight: bold
    text-align: center
.brand1--link
  color: $brand1
  &:hover
    color: darken($brand1,20)
.brand2--link
  color: $brand2
  &:hover
    color: darken($brand2,10)
.brand3--link
  color: $brand3
  &:hover
    color: darken($brand3,10)

#main
  background: #fff
  padding: 100px 50px 100px 50px
  min-height: 100%
  margin-bottom: - $footerHeight
  > header
    margin: 0px -75px $sectionMargin -75px
    height: 370px
    overflow: hidden
    background-repeat: no-repeat
    background-image: image-url("header0.jpg")
    border-right: 6px solid #2b2b2b
    &.brand1
      background-image: image-url("header1.jpg")
      border-color: $brand1
      .intro
        padding-top: 60px
        height: 100%
    &.brand2
      background-image: image-url("header2.jpg")
      border-color: $brand2
      .intro
        padding-top: 50px
    &.brand3
      background-image: image-url("header3.jpg")
      border-color: $brand3
    .headline
      a
        color: #fff
        &:hover
          color: darken(#fff, 10)
      .map
        h3
          width: 226px
          height: 221px
          margin: 65px 0 20px 44px
          padding: 65px 42px
          line-height: 1.1em
          text-align: center
          background: image-url("ohio.png") no-repeat
          color: #000
          &:hover
            color: $brand3
        h4
          &:hover
            color: #000
      .headline__buzzword
        font-size: 50px
        margin: 122px 0 0 25px
      .headline__buzzword--casestudy
        font-size: 50px
        margin: 122px 0 0 25px
      h4
        text-align: center
      &.brandBase .headline__buzzword, h4
        color: #fff
    .intro
      padding: 20px 45px 20px 55px
    .socialLinks
      margin-top: 6px
    .item
      margin: 20px 0
      h3
        margin: 0
      p
        font-size: 1.25em
        margin: 0
      address a
        color: $brand3
        font-style: normal
        font-size: 1.5em
        font-weight: bold
        &:hover
          color: darken($brand3, 30%)

  section.row
    margin-bottom: $sectionMargin
    p.emphasize
      margin-bottom: 40px

%hero--full-width
  background-color: $brandBase
  background-size: cover
  background-repeat: no-repeat
  background-position: top center
  padding: 75px 0
  color: #fff

// Landing Page
#main.landing-page
  padding: 0
  .arrow-right
    width: 0
    height: 0
    border-top: 10px solid transparent
    border-bottom: 10px solid transparent
    border-left: 10px solid $brand3
    float: right
    margin-top: 5px
  .hero--weare
    @extend %hero--full-width
    background-image: image-url("landing/group.jpg")
  .hero--process
    padding: 75px 0
    a
      margin-bottom: 40px
  .hero--worktogether
    @extend %hero--full-width
    background-image: image-url("landing/contact.jpg")
    li
      list-style: none
      display: inline-block
    ul
      text-align: justify
    .justifylist--last
      width: 100%
      height: 0
  i[class^="icon"]
    color: #fff
    font-size: 2.5em
    display: inline-block
    &:hover
      color: $brand2

  %landing-page__sidebar
    border-top-width: 8px
    border-top-style: solid
    padding-top: 10px

  .landing-page__sidebar--about
    @extend %landing-page__sidebar
    border-top-color: $brand1
    color: #fff

  .landing-page__sidebar--contact
    @extend %landing-page__sidebar
    border-top-color: $brand2
    color: #fff

  .landing-page__sidebar--process
    @extend %landing-page__sidebar
    border-top-color: $brand3

  h4.landing-page__subheading
    color: $brand3
    font-size: 18px
    margin-top: 0
    margin-bottom: 10px

  .landing-page__heading
    color: $brandBase
    font-size: 18px
    text-transform: uppercase
    font-weight: bolder
    margin-top: 10px
    margin-bottom: 5px
  .hero--process
    p
      color: lighten($brandBase,30)

  ul.landing-page__contact
    margin-top: 20px

h2.title
  text-align: center
  border-top: 2px solid $headerFontColor
  border-bottom: 2px solid $headerFontColor
  margin: 0 100px $sectionMargin 100px
  padding: 20px 0 15px 0
  &:before, &:after
    @include icon-sprite(diamond-grey)
    content: ""
    display: inline-block
    margin: 0 15px
  &.brand1:before, &.brand1:after
    @include icon-sprite(diamond-blue)
  &.brand2:before, &.brand2:after
    @include icon-sprite(diamond-yellow)
  &.brand3:before, &.brand3:after
    @include icon-sprite(diamond-red)

.row.expertise
  p
    margin-bottom: 40px

.descriptions__icon
  text-align: center
  &.last
    margin-bottom: 0
  i
    clear: both
    margin-bottom: 10px
  strong
    font-size: 20px
    display: inline-block
    width: 100%

hr.divider
  border: 1px solid #c1c1c1
  text-align: center
  &.columns
    margin-top: 10px
    margin-bottom: $sectionMargin
  &:before
    @include icon-sprite(diamond-grey)
    content: ""
    display: inline-block
    margin: -12px 15px 0 15px

.flex-video
  margin: 0

.contact .button
  margin-top: 24px
  float: right

.buttonLinks
  width: 100%
  padding: 0 20px
  .button
    width: 100%
    display: block
    margin-bottom: 20px


ul.photos li
  height: 170px
  width: 126px
  list-style: none
  float: left
  margin: 0 20px 20px 0
  position: relative
  h3
    line-height: 1.1em
  .photo
    overflow: hidden
    position: relative
    margin-bottom: 8px
    img
      vertical-align: bottom
    .overlay
      position: absolute
      width: 100%
      height: 100%
      top: 100%
      background: rgba(87, 192, 232, 0.7)
      @include transition-property(top)
      @include transition-duration(0.5s)
    .links
      position: absolute
      top: 55px
      width: 100%
      text-align: center
      a
        margin: 0 5px
        color: #fff
        font-size: 2em
        &:hover
          @include opacity(0.7)

  &:hover .overlay
    top: 0

  h3
    text-align: center
    font-size: 18px
    margin: 0

.skillList
  li
    list-style: none
    font-size: 19px
    padding: 2px 10px
    @include border-radius(5px)
    float: left
    clear: both
    &:hover
      background: $brand1
      color: #fff

.socialLinks
  margin: 0 0 0 -20px
  li
    list-style: none
    display: inline-block
    a
      background: #000
      display: inline-block
      text-align: center
      padding: 5px 10px
      margin: 0 0 0 20px
      border: 3px solid #fff
      color: #fff
      @include brandColors(border-color)
      @include border-radius(5px)
      &:hover
        @include brandColors(color, 20%)


.clientsList
  text-align: center
  li
    display: inline-block
    margin: 0 20px 0 0
    width: 30%
    height: 100px
    list-style: none
    a
      max-width: 100%

#slideshow
  margin-bottom: $sectionMargin
  h3
    margin: 0
    background: #000
    color: #fff
    text-align: center
    line-height: 2em
  .timer
    display: none

.contact form
  .flash
    position: absolute
    bottom: 0
    @extend .button
    &.success
      background: $brand1

.sidebar
  h5
    background-color: #222
    color: #fff
    margin: 0
    padding: 10px 0
    text-align: center
  .content
    padding: 20px
    background: #f4f4f4

a.anchor
  display: block
  position: relative
  top: -$topBarHeight - 10
