.top-bar
  background: $brandBase

.top-bar__logo
  display: block
  float: left
  line-height: $topbar-height

.top-bar__nav
  display: block
  float: right
  overflow: hidden
  li
    list-style: none
    display: inline-block
  a
    display: block
    color: #eee
    line-height: $topbar-height
    padding: 0 10px
    &:hover
      color: #fff

.top-bar__expand
  display: none
  float: right
  background: #fff
  margin: 10px
  height: 40px
  width: 40px

@media only screen and (max-width: 767px)
  .top-bar__expand
    display: block


  .top-bar__nav
    float: none
    height: 0
    @include transition(height 0.2s)
    li
      display: block
      border-bottom: 1px solid #fff
      &:last-child
        border-bottom: none

  .top-bar__nav--expanded
    height: 100%

