.top-bar
  position: fixed
  width: 100%
  top: 0
  z-index: 10
  overflow: hidden
  background: $brandBase

.top-bar__logo
  display: block
  float: left
  line-height: $topbar-height

.top-bar__nav
  display: block
  float: right
  li
    list-style: none
    display: inline-block
  a
    display: block
    color: #dedede
    font-size: 14px
    line-height: $topbar-height
    padding: 0 10px
    &:hover
      color: #fff
  a.active
    color: #fff
    font-weight: 600


.top-bar__expand
  display: none
  padding: 12px 0
  float: right

@media only screen and (max-width: 767px)
  .top-bar
    height: $topbar-height
    @include transition(height 0.25s)

  .top-bar--expanded
    height: 100%

  .top-bar__expand
    display: block

  .top-bar__nav
    float: none
    clear: both
    width: 100%
    li
      display: block
      border-bottom: 1px solid #fff
      &:last-child
        border-bottom: none

