.top-bar
  height: 58px 

#nav
  position: fixed
  top: 0
  z-index: 100
  width: 100%
  .row
    max-width: 1024px
  .brand
    display: inline
    float: left
    line-height: 1
    margin-top: 18px 
  .logo
    height: 23px
    width: 140px
    background: image-url("logoSmall.png")
    background-size: 100%
    background-repeat: no-repeat
    margin: auto

  ul.title-area
    display: inline
    li.name
      display: inline

  ul.links 
    display: inline
    width: auto
    background: transparent
    & > li 
      display: inline
      line-height: $topbar-height
      a
        color: #ddd
        display: inline-block
        font-size: 0.8em
        font-weight: 500
        padding: 0 $topbar-height / 4
        height: $topbar-height - 10px
        line-height: $topbar-height - 20px
        border-top: 10px solid transparent
        &.active
          color: #fff
          font-weight: 700
        &:hover
          color: #fff

  .top-bar-section ul li > a
    width: auto
    background: transparent

  .mobile
    display: none
    position: absolute
    top: 0
    margin: 18px
    &.toggle
      left: 0
    &.mail
      right: 0


@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (   min--moz-device-pixel-ratio: 2), only screen and (     -o-min-device-pixel-ratio: 2/1), only screen and (        min-device-pixel-ratio: 2), only screen and (                min-resolution: 192dpi), only screen and (                min-resolution: 2dppx) 
  
  .logo
    background-image: image-url("logoSmall.svg") !important
