//iPhone

@media only screen and (max-width: 767px)
  .row .row .row
    margin: 0 -10px
  // #nav
  //   background: #000
  //   text-align: center
  //   .mobile
  //     display: block
  //   .brand
  //     float: none
  //     text-align: center
    // ul.links > li a
    //   text-align: left
    //   height: 62px
    //   line-height: 62px
    //   border-top: none
    //   border-bottom: 2px solid #fff
    //   font-weight: lighter
    //   font-size: 32px
  .top-bar__nav a
    font-size: 24px

  #main.content section
    padding: 2em 0 1em 0
    &:last-child
      padding-bottom: 20px + $footerHeight

  // #guides
  .sidebar
    margin-bottom: 40px
    border-left: none
  
  .iconTile, .iconTile.last
    margin-bottom: 10px

  #slideshow
    h3
      font-size: 21px

  p
    font-size: 16px
    &.lead
      font-size: 19px

  hr.divider
    margin-bottom: 40px

  .landingpage
    margin-top: 30px
    margin-bottom: 15px
  // .landingpage__tagline
  //   font-size: 28px
  // .landingpage__subheading
  //   margin-bottom: 0
  // .landing-page__info
  //   margin-top: 0
  %underline
    margin-top: 10px

  #main 
    > header
      display: none
    > .columns
      padding: 0
  .post__title
    font-size: 20px
  .post
    margin-bottom: 2em
  .post__body
    h1
      font-size: $blog-mobile-heading-font-size
    h2
      font-size: $blog-mobile-heading-font-size * .875
    h3
      font-size: $blog-mobile-heading-font-size * .75
    h4
      font-size: $blog-mobile-heading-font-size * .625
    h5
      font-size: $blog-mobile-heading-font-size * .5
    ul, ol
      margin-left: 1.5em
  h3
    font-size: 23px

  .clientsList li
    display: block
    width: 100%
    text-align: center
    height: 100%
    margin-bottom: 25px

  .footer__contact
    margin-bottom: 5px

  // .headline__buzzword--casestudy
  //   line-height: 1em
  //   font-size: 40px

  // .headline__buzzword
  //   padding-top: 20px
  // .hero__header--animated, .hero__header--brand1
  //   margin: 0 -6px

  // .hero--featured
  //   height: 100%


//iPad and down
@media only screen and (max-width : 1024px)
  .post__avatar
    top: auto
    bottom: -50px
    margin-left: 65px
    height: $avatar-size / 2
    width: $avatar-size / 2

  .post__author
    margin-top: 18px
    margin-left: 45px 

  ol.post__list li
    .post__list__information
      .post__author, .post__time
        margin: 0px
        font-size: 13px
