// @import "icon/*.png"
// $icon-sprite-dimensions: true
// @include all-icon-sprites

// @import "brand/*.png"
// $brand-sprite-dimensions: true
// @include all-brand-sprites

// [class^="icon-"],[class*=" icon-"], [class^="brand-"],[class*=" brand-"]
//   display: inline-block


%icon
  +border-radius(50%)
  text-align: center
  display: block
  @include transition-duration(0.5s)

.icon
  @extend %icon
  background-color: #f7f7f7
  width: 8em
  margin: 0px auto
  margin-bottom: 10px

.icon--link
  @extend %icon
  background-color: #f7f7f7
  width: 8em
  margin: 0px auto
  margin-bottom: 10px
  &:hover
    background-color: #e3e3e3

.icon--link--large
  @extend %icon
  background-color: #f7f7f7
  width: 12em
  margin: 10px auto
  &:hover
    background-color: #eeeeee

%icon--footer
  @extend %icon
  width: 2.25em

.icon--footer__facebook
  @extend %icon--footer
  &:hover
    background-color: #3B5998

.icon--footer__twitter
  @extend %icon--footer
  &:hover
    background-color: #4099FF

.icon--footer__github
  @extend %icon--footer
  &:hover
    background-color: #666

%icon--team
  @extend %icon
  width: 1.25em
  &:hover
    background-color: $brandBase

.icon--team
  @extend %icon--team

%horizontal-line
  border-radius: 2px
  display: block

.icon--hamburger
  @extend %horizontal-line
  width: 35px
  position: relative
  
.line--horizontal
  display: block
  height: 5px
  width: 100%
  border-radius: 2px
  margin: 4px 0
  background: $brand1
  &:first-child
    background: $brand2
  &:last-child
    background: $brand3

.icon--type
  height: 2em
  line-height: 2.25em
  font-size: 4em
  width: 2em
  letter-spacing: -.1em

.icon--type--contact
  color: $brand3

.icon--type--open-house
  color: $brand1
