// @import "icon/*.png"
// $icon-sprite-dimensions: true
// @include all-icon-sprites

// @import "brand/*.png"
// $brand-sprite-dimensions: true
// @include all-brand-sprites

// [class^="icon-"],[class*=" icon-"], [class^="brand-"],[class*=" brand-"]
//   display: inline-block


%icon
  +border-radius(50%)
  text-align: center
  display: block
  @include transition-duration(0.5s)

img.icon
  @extend %icon
  background-color: #f7f7f7
  width: 9em
  margin: 10px auto

img.icon--link
  @extend %icon
  background-color: #f7f7f7
  width: 9em
  margin: 10px auto
  &:hover
    background-color: #eeeeee

%icon--footer
  @extend %icon
  width: 2.25em

.icon--footer__facebook
  @extend %icon--footer
  &:hover
    background-color: #3B5998

.icon--footer__twitter
  @extend %icon--footer
  &:hover
    background-color: #4099FF

.icon--footer__github
  @extend %icon--footer
  &:hover
    background-color: #666

%icon--team
  @extend %icon
  width: 1.5em
  &:hover
    background-color: $brandBase

.icon--team
  @extend %icon--team

