#footer
  .row
    .five.columns.footer__contact
      %p We build apps and software that build businesses
      %a{href: "http://madeincincy.com", rel: "Footer Contact", target: "_blank"} Cincinnati Ohio  • 
      %a{href: "mailto:hello@gaslight.co", rel: "Footer Contact"} hello@gaslight.co
    .four.columns
      %ul.socialLinks
        %li
          %a{href: "http://twitter.com/teamgaslight", rel: "Footer Social", target: "_blank"} Twitter

        %li
          %a{href: "http://facebook.com/teamgaslight", rel: "Footer Social", target: "_blank"} Facebook

        %li
          %a{href: "http://github.com/gaslight", rel: "Footer Social", target: "_blank"} GitHub
