#footer
  .row
    .large-12
      .footer__contact.hide-for-small
        %p We build web apps that build businesses.
        %a{href: "http://madeincincy.com", rel: "Footer Contact", target: "_blank"} Cincinnati Ohio
        •
        %a{href: "mailto:hello@gaslight.co", rel: "Footer Contact"} hello@gaslight.co
        
      %ul.footer__socialLinks
        %li
          %a{href: "http://twitter.com/teamgaslight", rel: "Footer Social", target: "_blank"}
            =image_tag "icons/twitter-07.svg", :class => "icon--footer__twitter" 
        %li
          %a{href: "http://facebook.com/teamgaslight", rel: "Footer Social", target: "_blank"}
            =image_tag "icons/facebook.svg", :class => "icon--footer__facebook" 
        %li
          %a{href: "http://github.com/gaslight", rel: "Footer Social", target: "_blank"}
            =image_tag "icons/github-05.svg", :class => "icon--footer__github" 
        %li.justifylist--last