%nav.top-bar
  .row
    .large-12.columns
      %a.top-bar__logo{href: main_app.root_path, rel: "Main Navigation"}
        %img{src: image_path("logoSmall.svg")}

      %a.top-bar__expand
        %i.icon--hamburger
          %span.line--horizontal
          %span.line--horizontal
          %span.line--horizontal

      %ul.top-bar__nav
        %li
          %a{href: main_app.page_path("about"), rel: "Main Navigation", class: active_page_class(main_app.page_path("about"))} About
        %li
          %a{href: main_app.page_path("services"), rel: "Main Navigation", class: active_page_class(main_app.page_path("services"))} Services
        %li
          %a{href: main_app.page_path("work/index"), rel: "Main Navigation", class: (viewing_work? ? 'active' : nil)} Work
        %li
          %a{href: main_app.posts_path, rel: "Main Navigation", class: (viewing_blog? ? 'active' : nil)} Blog
        %li
          %a{href: training_app.root_path, rel: "Main Navigation", class: viewing_training? ? 'active' : nil} Training
        %li
          %a{href: main_app.page_path("contact"), rel: "Main Navigation", class: active_page_class(main_app.page_path("contact"))} Contact
